@import url('https://fonts.googleapis.com/css2?family=Assistant&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: none;
}

body {
    font-family: Assistant, 'sans-serif';
    font-size: 300;
    height: auto;
    width: auto;
    color: #282828;
}

/* headings and logo */

h1, h2 {
    font-family: Assistant, 'sans-serif';
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #181818;
    padding: 20px;
}

#logo {
    display: inline-block;
    flex-flow: wrap;
    justify-content: center;
    margin-left: 30px;
    height: 100%;
    width: 300%;
    font-size: 250%;
}

/* navigation links */

#menu {
    font-size: 110%;
    letter-spacing: 4px;
}

#menu, #logo {
    line-height: 75px;
}

#menu li {
    display: inline;
    flex-flow: wrap-reverse;
    justify-content: space-between;
    list-style-type: none;
    margin-left: 100px;
    padding: 20px;
}

nav {
    display: block;
    width: 100%;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #282828;
    background-color: rgba(201, 244, 244, 0.65);
}

.active {
    border-bottom: 1px solid #282828;
}

/* hero image and cover text */

#hero-outer {
    height: 800px;
    width: 100%;
    overflow: hidden;

    position: relative;
}

#cover-text, #cover-text h2 {
    color: #282828;
}

#hero-image {
    height: 800px;
    width: 100%;
    background: url('../images/hero-image.jpg') no-repeat center center;

    /* animates zoom effect on loading page */
    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

/* creates the level of zoom for hero image */
@keyframes hero-zoom {
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.1);
    }
    
}

#cover-text {
    font-size: 120%;
    font-family: Assistant, 'sans-serif';
    text-transform: uppercase;
    letter-spacing: 4px;

    width: 300px;
    height: 200px;

    padding-top: 30px;
    padding-left: 30px;

    background-color: rgba(19, 255, 255, .65);

    bottom: 30px;
    left: 30px;

    position: absolute;
}

/* about us section */

#about-us h3 {
    font-size: 200%;
    text-align: center;
    justify-content: center;
    height: auto;
    width: auto;
}

#about-us-container {
    display: grid;
    justify-content: center;
    text-align: center;    
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 10px;
    margin: 10px;
}

.grid-item {
    display: grid;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 30px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #f39d75b9;
  }

  /* why join us */

  #health-benefits div {
    display: flexbox;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
  }

  #health-benefits h2 {
    font-size: 1.5rem;
    letter-spacing: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #health-benefits p {
    font-size: 0.8em;
    line-height: 1.8em;
    margin: 30px auto;
    text-align: center;
    box-sizing: border-box;
  }

  .flex-container {
    border: 1px solid #282828;
    display: inline-block;
    flex-direction: row;
    justify-content: space-between;
    align-content: space-between;
  }

  /* health benefits */




  /* upcoming events */

  #events {
    color: #faf9f6;
    background-image: url('../images/carrauntoohill-bg-img.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    overflow: hidden;
  }

  #events h2 {
    color: #faf9f6;
    font-size: large;
  }

  #events div {
    color: #faf9f6;
    background-color: rgba(0, 0, 0, 0.415);
    width: 20%;
    height: 300px;
    float: left;
    padding: 10px 0 0 10px;
    text-align: center;
    border: 1px solid #fff;
    box-sizing: border-box;
}

/* footer */

footer {
    height: 150px;
}

.social-networks {
    text-align: center;
}

.social-networks > li {
    display: inline;
}

.social-networks i {
    font-size: 180%;
    margin: 1%;
    padding: 5%;
    color: #f39d75b9;
}

/* gallery */

#photos {
    clear: both;
    line-height: 0;
    column-count: 4;
    column-gap: 0;
}

#photos > img {
    width: 100%;
}

/* Media queries */

/* For larger to medium screens size from 1200px wide and down */
@media screen and (max-width: 1200px) {
    #about {
    width: 65%;
    height: 1200px;
    margin: 0 auto;
    }
}

#health-benefits {
    padding: 30px 0;
    margin: 0;
}

/* For medium screen sizes from 950px wide and down */
@media  screen and (max-width: 950px) {
    #menu {
        clear: left;
        display: flex;
        margin-left: 30px;
        margin-bottom: 20px;
        line-height: 25px;
    }
}