@import url('https://fonts.googleapis.com/css2?family=Assistant&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: none;
}

body {
    font-family: Assistant, 'sans-serif';
    font-size: 300;
    color: #282828;
}

/* headings and logo */

h1, h2 {
    font-family: Assistant, 'sans-serif';
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #181818;
    padding: 20px;
}

#logo {
    display: inline-block;
    flex-flow: wrap;
    justify-content: center;
    height: 100%;
    width: 300%;
    font-size: 250%;
}

/* navigation links */

#menu {
    font-size: 110%;
    letter-spacing: 4px;
}

#menu, #logo {
    line-height: 75px;
}

#menu li {
    display: inline;
    flex-flow: wrap-reverse;
    justify-content: space-between;
    list-style-type: none;
    margin-left: 100px;
    padding: 20px;
}

nav {
    display: block;
    width: 100%;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #282828
}

.active {
    border-bottom: 1px solid #282828;
}

/* hero image and cover text */

#hero-outer {
    height: 800px;
    width: 100%;
    overflow: hidden;

    position: relative;
}

#cover-text, #cover-text h2 {
    color: #282828;
}

#hero-image {
    height: 800px;
    width: 100%;
    background: url('../images/hero-image.jpg') no-repeat center center;

    /* animates zoom effect on loading page */
    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

/* creates the level of zoom for hero image */
@keyframes hero-zoom {
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.1);
    }
    
}

#cover-text {
    font-size: 120%;
    font-family: Assistant, 'sans-serif';
    text-transform: uppercase;
    letter-spacing: 4px;

    width: 300px;
    height: 200px;

    padding-top: 30px;
    padding-left: 30px;

    background-color: rgba(19, 255, 255, .65);

    bottom: 30px;
    left: 30px;

    position: absolute;
}